@import url('https://fonts.googleapis.com/css?family=Karla|Lato&display=swap');
body{
font-family: 'Lato', sans-serif;
overflow-x: hidden;
color: black;

}

.navbar-brand img{
  margin-top: -110px !important;
  height: 200px;
  width: 200px; 
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 3rem;
    margin-top: 80px !important;
  }
  
@media screen and (max-width: 480px) {
  .navbar-brand img{
    margin-top: -40px !important;
    height: 150px;
    width: 150px; 
  }

   }
.container  h1, h2 {
    font-weight: 200;
    margin: 0.4rem;
  }
  
.container  h1 {
    font-size: 3.5rem;
  }
  
.container h2 {
    font-size: 2rem;
    color:#2192CB;
  }
  
  /* Cursor */
  .txt-type > .txt {
    border-right: 0.2rem solid black;
  }
  
  @media(min-width: 1200px) {
   .container h1 {
      font-size: 5rem;
    }
  }
  
  @media(max-width: 800px) {
    .container {
      padding: 0 1rem;
    }
  
   .container h1 {
      font-size: 3rem;
    }
  }
  
  @media(max-width: 500px) {
   .container h1 {
      font-size: 2.5rem;
    }
  
   .container h2 {
      font-size: 1.5rem;
    }
  }